@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: Poppins;
    font-weight: 600;
  }
  .max-width {
    max-width: 1400px;
    margin: auto;
    @apply lg:max-w-7xl;
  }
  .gradient-btn {
    border-radius: 73px;
    background: linear-gradient(
      270deg,
      #13adc7 0%,
      #6978d1 66.67%,
      #945dd6 100%
    );
  }
}
